@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('../assets/bg--image.jpg') 100%;
}

.container {
    margin-left: 2.5rem;
    padding: 1rem;
    display: flex;
}

.content {
    position: relative;
}

.content h2 {
    margin-bottom: 1rem;
    font-size: 20px; 
    text-align: center;
    color: #fffe;
}

.video-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 1rem;
}